.tool {
  text-align: center;
  margin: $baseline-height 0 $baseline-height * 2;
  padding: $baseline-height;
  max-width: 680px;
  outline: solid 1px $color-gray-light;
}
.tool-title {
  @extend %twenty-eight-pixels;

  a {
    text-decoration: none;
    color: $color-gray-medium;

    &:link,
    &:visited {
      color: $color-gray-medium;
    }
    &:hover,
    &:active,
    &:focus {
      color: $color-green-medium;
    }
  }
}

// 900px
@media all and (min-width: 56.25em) {

  .tool {
    float: left;
    width: 48%;

    &:first-child {
      margin-right: 4%;
    }
  }
}